# =============================================================================
# Full Kustomization (All-in-one: CRDs + Namespace + Operator + Webhook)
# =============================================================================
# Output: cloudflare-operator-full.yaml
# Contains: CRDs + Namespace + RBAC + Deployment + Webhook + CertManager
# Use case: kubectl apply -f one-liner deployment
# =============================================================================
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Adds namespace to all resources.
namespace: cloudflare-operator-system

# Value of this field is prepended to the names of all resources.
namePrefix: cloudflare-operator-

resources:
  # CRDs - included for full deployment
  - ../crd
  # Namespace
  - ../namespace
  # RBAC
  - ../rbac
  # Deployment
  - ../manager
  # Webhook
  - ../webhook
  # CertManager certificates
  - ../certmanager
  # Metrics service
  - metrics_service.yaml

patches:
  # [METRICS] The following patch will enable the metrics endpoint using HTTPS and the port :8443.
  - path: manager_metrics_patch.yaml
    target:
      kind: Deployment
  # [WEBHOOK] Webhook patch
  - path: manager_webhook_patch.yaml
    target:
      kind: Deployment

# [CERTMANAGER] CA injection replacements for Webhooks and CRDs
replacements:
 - source: # Add cert-manager annotation to ValidatingWebhookConfiguration, MutatingWebhookConfiguration and CRDs
     kind: Certificate
     group: cert-manager.io
     version: v1
     name: serving-cert
     fieldPath: .metadata.namespace
   targets:
     - select:
         kind: ValidatingWebhookConfiguration
       fieldPaths:
         - .metadata.annotations.[cert-manager.io/inject-ca-from]
       options:
         delimiter: '/'
         index: 0
         create: true
     - select:
         kind: MutatingWebhookConfiguration
       fieldPaths:
         - .metadata.annotations.[cert-manager.io/inject-ca-from]
       options:
         delimiter: '/'
         index: 0
         create: true
     - select:
         kind: CustomResourceDefinition
       fieldPaths:
         - .metadata.annotations.[cert-manager.io/inject-ca-from]
       options:
         delimiter: '/'
         index: 0
         create: true
 - source:
     kind: Certificate
     group: cert-manager.io
     version: v1
     name: serving-cert
     fieldPath: .metadata.name
   targets:
     - select:
         kind: ValidatingWebhookConfiguration
       fieldPaths:
         - .metadata.annotations.[cert-manager.io/inject-ca-from]
       options:
         delimiter: '/'
         index: 1
         create: true
     - select:
         kind: MutatingWebhookConfiguration
       fieldPaths:
         - .metadata.annotations.[cert-manager.io/inject-ca-from]
       options:
         delimiter: '/'
         index: 1
         create: true
     - select:
         kind: CustomResourceDefinition
       fieldPaths:
         - .metadata.annotations.[cert-manager.io/inject-ca-from]
       options:
         delimiter: '/'
         index: 1
         create: true
 - source:
     kind: Service
     version: v1
     name: webhook-service
     fieldPath: .metadata.name
   targets:
     - select:
         kind: Certificate
         group: cert-manager.io
         version: v1
       fieldPaths:
         - .spec.dnsNames.0
         - .spec.dnsNames.1
       options:
         delimiter: '.'
         index: 0
         create: true
 - source:
     kind: Service
     version: v1
     name: webhook-service
     fieldPath: .metadata.namespace
   targets:
     - select:
         kind: Certificate
         group: cert-manager.io
         version: v1
       fieldPaths:
         - .spec.dnsNames.0
         - .spec.dnsNames.1
       options:
         delimiter: '.'
         index: 1
         create: true
