---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-networking-cloudflare-operator-io-v1alpha2-pagesproject
  failurePolicy: Fail
  name: vpagesproject.kb.io
  rules:
  - apiGroups:
    - networking.cloudflare-operator.io
    apiVersions:
    - v1alpha2
    operations:
    - CREATE
    - UPDATE
    resources:
    - pagesprojects
  sideEffects: None
