name: "DCO"

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  dco:
    name: DCO Check
    runs-on: ubuntu-latest
    steps:
      - name: Check DCO
        uses: dcoapp/app@v1
        with:
          token: \${{ secrets.GITHUB_TOKEN }}
