name: lint

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          cache: true
      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          only-new-issues: true
          version: latest
          install-mode: goinstall
