name: test

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

# Minimum required permissions for this workflow
permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Go
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Test
        run: make test

      - name: Archive code coverage results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: code-coverage
          path: cover.out

  code_coverage:
    name: "Code coverage report"
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      actions: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Generate coverage report
        uses: fgrosse/go-coverage-report@14d36b43fca0f8c32fc4bfcdb17a37e1c2e7de30 # v1.1.1
        with:
          coverage-artifact-name: "code-coverage"
          coverage-file-name: "cover.out"
